.container {
  width: 40%;
  margin: 1em auto 0 auto;
}

.removed {
  color: gray;
}

.removed label {
  text-decoration: line-through;
}

ul {
  margin-top: 1em;
}

ul li {
  list-style-type: none;
}

input.js-new-item {
  margin-right: 1em;
}